<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Carni_vision uses the camera to scan and identify animals.</string>
	<key>SUPABASE_URL</key>
	<string>https://xznmsmweefckkqjfepqs.supabase.co</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>REPLACE_WITH_SUPABASE_ANON_KEY</string>
	<key>EMBEDDER_URL</key>
	<string>https://carnivision-embedder-78377568014.europe-west1.run.app</string>
	<key>UIAppFonts</key>
	<array>
		<string>Lato-Regular.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-SemiBold.ttf</string>
	</array>
</dict>
</plist>
